<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Please key in the amount to donate</h1>
    <form method='GET' action='{% url 'donate' %}'>
        {% csrf_token %}
         <label>Amount to Donate:</label>
        <input type='text' name='amount'/>
        <input type='submit' value='Donate!'/>
    </form>
</body>
</html>