<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
</head>
<body>
    <div>
        {% csrf_token %}
        <input id='title' type='text' value='{{post.title}}'/><button id='update-title'>Update</button>
        <textarea id='content'>{{post.content}}</textarea><button id='update-content'>Update</button>
    </div>
    <script>
    
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        
        
        
        $(function(){
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val()
         
            axios.defaults.headers.common['X-CSRFToken'] = csrftoken;
         
           $('#update-title').click(function(){
                
            
                
                axios.post('/api/update_post/{{post.id}}', {
                 
                        
                        id: '{{post.id}}',
                        title: $('#title').val(),
                        content: '{{post.content}}'
                    
                })
            })
        })
    </script>
</body>
</html>